body {
    background: linear-gradient(to left top, #fbc2eb 0%, #a6c1ee 100%) fixed;
  }


#calculator {
    display: grid;
    height: 350px;
    width: 250px;
    background: #00BFFF;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 80px;
    grid-Template-Columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    font-family: "Lucida Console", Courier, monospace;
    box-shadow: 5px 10px 3px 3px black;
}


#display {
    position: relative;
    top: 80px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 250px;
    background: gray;
    border: 10px 11px solid black;
    text-align: right;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 20pt;
    box-shadow: 5px 10px 3px 3px black;
    z-index: -1;
}

.btn {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    border: 11px solid black;
    font-size: 2em;
    z-index: 1;
}

.operand {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    border: 11px solid black;
    font-size: 2em;
}

.equal {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    border: 11px solid black;
    font-size: 2em;
    grid-column-end: span 2;
}

.backspace {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    border: 11px solid black;
    font-size: 2em;

}

.clear {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    border: 11px solid black;
    font-size: 2em;

}

.btn:hover, .clear:hover, .backspace:hover, .equal:hover, .operand:hover {
    color: white;
}